.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.jatekter {
  display:grid;
  grid-template-columns: repeat(3,60px);
  width: 180px;
  margin: auto;
  gap:5px;
}

article{
  background-color: bisque;
  width: 220px;
  margin: auto;
  padding: 10px;
}


.feladat{
  background-color: aqua;
  font-weight: bold;
  width: 240px;
  margin: auto;
}

footer{
  background-color: aquamarine;
  color:rgb(221, 164, 89);
  width: 240px;
  margin: auto;
}

